/* .container{
    width: 60%;
    margin: auto;
}
.h2{
    text-align: center;
}

.main{
    display: flex;
    justify-content: space-between;
}
.desc{
    width: 40%;
    float: left;
}
.price{
    margin-bottom: 0px;
}


.img{
    width: 40%;
    height: 15vh;
    border-radius: 10px;
    float: right;
}

.btn{
    background-color: rgb(192, 49, 31);
    color: white;
    border-radius: 5px;
    border: none;
}
.btn:hover{
    color: white;
} */


.img-size{
    max-height: 200px;
    max-width: 200px;
}

.container{
    width:100%;
    height:auto;
    padding:1%;
}